body {
    // background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(202, 248, 255, 1) 0%, rgba(186, 204, 227, 1) 51.2%, rgba(117, 144, 179, 1) 100.1%);
    background-color: #90e0ef;
}

.iconeMeteoAujourdhui {
    width: 90px;
}

.iconeMeteo {
    width: 50px;
}

.iconeMeteoSemaine {
    width: 60px;
}


.adresse {
    display: flex;
}

.heure {
    font-size: 3rem;
}

.vent {
    font-size: 0.7rem;
}

.container {
    width: 95%;
    background-color: #48cae4;
}

.borderMaintenant {
    border-right: #c3dee4;
}